.loginbutton{
  margin: 0px 10px;
  width: fit-content;
  margin: 0px 5px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.138);
  border-color: white;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.loginbutton:hover{
  border: 2px solid;
}

.burgerMenu{
  display: none;
  text-align: center;
}

@media (max-width: 800px) {
  .loginbutton{
    font-size:14px;
    padding: 5px 10px;
  }
}